pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
pandas
numpy
rasterio
shapely
scikit-image
tqdm
requests
tenacity
google-auth
earthengine-api
onnxruntime-gpu==1.26.0
Pillow
python-dotenv
streamlit