# === INFRASTRUCTURE ===
# Настройки контейнера Postgres (используются Docker'ом при создании)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pikurr_db
POSTGRES_PORT=5432
# Настройки TF Serving
MODEL_NAME=two

# === APPLICATION CONFIG (Pydantic) ===
# Настройки для Python (ETL)
# --- DATABASE ---
# Хост теперь 'db' (имя сервиса из compose)
DB__HOST=db
DB__PORT=5432
DB__USER=${POSTGRES_USER}
DB__PASSWORD=${POSTGRES_PASSWORD}
DB__NAME=${POSTGRES_DB}

# --- PATHS ---
# Внутри контейнера мы смонтировали данные в /data
# DATA_DIR=/data
# Внутри контейнера данные смонтированы в /data_*
PATHS__DATA_INPUT=/data_input
PATHS__DATA_OUTPUT=/data_output

# Пути на ХОСТЕ (диске), чтобы менять их не лазя в yml
#!!! сменить для production!!! 
HOST_INPUT_DIR=./inputs
HOST_OUTPUT_DIR=./outputs
HOST_MODEL_DIR=${HOST_INPUT_DIR}/models
HOST_PG_DATA=${HOST_OUTPUT_DIR}/pg_data


# --- GEE ---
GEE__SERVICE_ACCOUNT='{credentials here}'
GEE__PROJECT='My First Project'

# --- TILE SERVICES ---
TILESERVICES__ESRI=https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}
TILESERVICES__GOOGLE=https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}
TILESERVICES__DZZ=https://www.geodzz.by/arcgis/rest/services/georesursDDZ/Belarus_Web_Mercator_new/ImageServer/tile/{z-6}/{y}/{x}

# --- DB TABLES ---
DBTABLES__TRAP=trapeze_serv
DBTABLES__AFIELDS=agrifields
DBTABLES__RAZGR=razgrafka

# --- INFERENCE ---
# Хост теперь 'tf-serving'
INFERENCE__HOST=tf-serving
INFERENCE__PORT=8500
INFERENCE__MODEL_NAME=two
INFERENCE__MODEL_VERSION=1
INFERENCE__BATCH_SIZE=8


TELEGRAM__TOKEN=token_here
TELEGRAM__CHAT_ID=id_here

# --- DELIVERY (rsync пакета на сервер с фронтендом) ---
DELIVERY_HOST=192.168.251.190
DELIVERY_USER=user
DELIVERY_INBOX=/home/user/repikurr/inbox
DELIVERY_SSH_KEY=~/.ssh/id_rsa